// Breakpoint & Container
$containerWidth: 1120 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint930: 929.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
// $containerColor: #181818;
$primery: #505F98;
$secondary: #091133;
$item-color: #5D6970;

